{% extends "main.html" %}
{% block content %}
<!-- 결과 화면 -->
<div class="result">
    <!-- 제목 -->
    <div class="result_title">
        당신의 결과는 !?
    </div>

    <!-- 부제목 -->
    <div class="result_subtitle">
        너무나 무서운 <span class="space result_emphasis">&lt;아칼리&gt;</span>
    </div>

    <!-- 결과 내용 -->
    <div class="result_content">
        <!-- 결과 이미지 -->
        <img src="../static/images/akail.gif" class="result_img" alt="아칼리">

        <!-- 결과 설명 -->
        <div class="result_explain">
            오우! 당신은 뒤에서 아무도 모르게 나타나 상대를 제거하는 암살자이신가요..
            너무나 무섭네요ㅜ ㅜ
            누구를 죽이고 싶다는 생각보다 다 같이 화목하게 살아보는 건 어떨까요~?
        </div>
    </div>

    <!-- 처음으로 버튼 -->
    <div class="bton">
        <input type="button" class="start_button pointer" value="처음으로" onclick="back()">
    </div>
</div>
{% endblock %}