<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나와 가장 잘 어울리는 League of Legend 챔피언은?</title>

    <link rel="stylesheet" href="../static/css/common.css"> <!-- 스타일 적용 -->
    <link rel="stylesheet" href="../static/css/font.css"> <!-- 폰트 적용 -->
</head>
<body>
    <!-- 컨테이너 -->
    <div class="container">
        <!-- 제목 -->
        <div class="title">
            나와 가장 잘 어울리는 <span class="title_text">League of Legend</span> 챔피언은?
        </div>

        <!-- 내용 -->
        <div class="content">
            <div>
                <img src="../static/images/yuumi tumblr.gif" class="index_img" alt="유미">
                <img src="../static/images/amumu-sad.gif" class="index_img" alt="아무무">
            </div>
        </div>

        <!-- 시작하기 버튼 -->
        <div class="bton">
            <input type="button" class="start_button" value="시작하기" onclick="startClick()">
        </div>
    </div>

    <script src="../static/js/common.js"></script>
</body>
</html>