{% extends "main.html" %}
{% block content %}
    <!-- 제목 -->
    <div class="title">
        나와 가장 잘 어울리는 <span class="title_text">League of Legend</span> 챔피언은?
    </div>

    <!-- 내용 -->
    <div class="content">
        <div>
            <img src="../static/images/yuumi tumblr.gif" class="index_img" alt="유미">
            <img src="../static/images/amumu-sad.gif" class="index_img" alt="아무무">
        </div>
    </div>

    <!-- 시작하기 버튼 -->
    <div class="bton">
        <input type="button" class="start_button" value="시작하기" onclick="startClick()">
    </div>
{% endblock %}